*,
*:before,
*:after {
    box-sizing: border-box;
}

.background {
    background-image: url('./img/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin: 0 auto;                                     
    max-width: 1440px;
}
