@mixin placeholder($bordergray) {
    ::-webkit-input-placeholder {
        color: $bordergray;
    }

    :-moz-placeholder {
        color: $bordergray;
    }

    ::-moz-placeholder {
        color: $bordergray;
    }

    :-ms-input-placeholder {
        color: $bordergray;
    }
}
