.section {
    .border-wrapper {
        padding: 15px;
        background-color: rgba(#000,0.4);
        border-radius: 3px;
    }
    .sign-content-wrapper,
    .content-wrapper {
        background-color: $backgroundWhite;
        padding: 25px;
        border-radius: 10px;
    }
    
    .section-heading {
        text-align: center;
        color: #fff;
        font-size: 34px;
        margin-top: 50px;
        margin-bottom: 50px ;
    }
}

.sign-content-wrapper {
    
}

#registerForm {

}
