.section {
    display: flex;
    justify-content: center;

    .border-wrapper {
        border-radius: 3px;
        background-color: rgba($black,0.4);
        padding: 15px;
        width: 50%;
        max-width: 420px;
    }
    
    .sign-content-wrapper,
    .content-wrapper {
        border-radius: 10px;
        background-color: $backgroundWhite;
        padding: 25px;
    }
     
    .subscribe,
    .recover {
        display: flex;
        justify-content: space-between;
    }
    
    .sign {
        display: flex;
        justify-content: flex-end;
    }
    margin-bottom: 50px;
}
