$backgroundWhite: #f4f4f4; 
$bordergray: #c6c6c6;
$buttongreen: #96d12f;
$hovergreen:#8cbb3b;
$white: #fff;
$black: #000;
$green: #008000;
$buttonred:#f34455;
$hoverred:#e1293c;
$red:#FF0000;
$color:#c6c6c6;
